

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
   


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>HAZE | Game Marketing Platform</title>

    <meta name="description" content=" Game Marketing Platform">
    <meta name="keywords" content="Game Marketing Platform">
    <meta name="author" content="DEU">

    <link rel="icon" type="image/png" href="~/Content/images/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- START: Styles -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7cOpen+Sans:400,700" rel="stylesheet" type="text/css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script defer src="~/Scripts/all.js"></script>
    <script defer src="~/Scripts/v4-shims.js"></script>

    <!-- IonIcons -->
    <link rel="stylesheet" href="~/Content/css/ionicons.min.css">

    <!-- Flickity -->
    <link rel="stylesheet" href="~/Content/css/flickity.min.css">

    <!-- Photoswipe -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/photoswipe.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/default-skin.css">

    <!-- Seiyria Bootstrap Slider -->
    <link rel="stylesheet" href="~/Content/css/bootstrap-slider.min.css">

    <!-- Summernote -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/summernote-bs4.css">

    <!-- GoodGames -->
    <link rel="stylesheet" href="~/Content/css/goodgames.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="~/Content/css/custom.css">

    <!-- END: Styles -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <link href="~/Content/css/super-stars.css" rel="stylesheet" />


</head>

<body>

    <div class="nk-main">


        @Html.Partial("_Header")

        <div class="container">

            @RenderBody()

        </div>

        <div class="nk-gap-4"></div>

    </div>

    <!-- START: Page Background -->

    <img class="nk-page-background-top" src="~/Content/images/bg-top.png" alt="">
    <img class="nk-page-background-bottom" src="~/Content/images/bg-bottom.png" alt="">

    <!-- END: Page Background -->
    <!-- START: Login Modal -->
    <!-- END: Login Modal -->
    <!-- START: Scripts -->
    <!-- Object Fit Polyfill -->
    <script src="~/Scripts/ofi.min.js"></script>

    <!-- GSAP -->
    <script src="~/Scripts/TweenMax.min.js"></script>
    <script src="~/Scripts/ScrollToPlugin.min.js"></script>

    <!-- Popper -->
    <script src="~/Scripts/popper.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Sticky Kit -->
    <script src="~/Scripts/sticky-kit.min.js"></script>

    <!-- Jarallax -->
    <script src="~/Scripts/jarallax.min.js"></script>
    <script src="~/Scripts/jarallax-video.min.js"></script>

    <!-- imagesLoaded -->
    <script src="~/Scripts/imagesloaded.pkgd.min.js"></script>

    <!-- Flickity -->
    <script src="~/Scripts/flickity.pkgd.min.js"></script>

    <!-- Photoswipe -->
    <script src="~/Scripts/photoswipe.min.js"></script>
    <script src="~/Scripts/photoswipe-ui-default.min.js"></script>

    <!-- Jquery Validation -->
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <!-- Jquery Countdown + Moment -->
    <script src="~/Scripts/jquery.countdown.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/moment-timezone-with-data.min.js"></script>

    <!-- Hammer.js -->
    <script src="~/Scripts/hammer.min.js"></script>

    <!-- NanoSroller -->
    <script src="~/Scripts/jquery.nanoscroller.js"></script>

    <!-- SoundManager2 -->
    <script src="~/Scripts/soundmanager2-nodebug-jsmin.js"></script>

    <!-- Seiyria Bootstrap Slider -->
    <script src="~/Scripts/bootstrap-slider.min.js"></script>

    <!-- Summernote -->
    <script src="~/Scripts/summernote-bs4.min.js"></script>

    <!-- nK Share -->
    <script src="~/Scripts//nk-share.js"></script>

    <!-- GoodGames -->
    <script src="~/Scripts/goodgames.min.js"></script>
    <script src="~/Scripts/goodgames-init.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- END: Scripts -->
    <script src="~/Scripts/Project.js"></script>


</body>
</html>
